apiVersion: v1
kind: Secret
metadata:
  name: symfony-secrets
  namespace: symfony-restaurant
type: Opaque
stringData:
  DATABASE_URL: "mysql://app:__RDS_PASSWORD__@symfresto07-db-instance.cz2owuguw5bn.eu-west-1.rds.amazonaws.com:3306/symfresto07?serverVersion=8.0.32&charset=utf8mb4"
  APP_SECRET: "__APP_SECRET__"
  GOOGLE_CLIENT_ID: "__GOOGLE_CLIENT_ID__"
  GOOGLE_CLIENT_SECRET: "__GOOGLE_CLIENT_SECRET__"
  CORS_ALLOW_ORIGIN: "^https?://(localhost|127\\.0\\.1)(:[0-9]+)?$"
